
#geral {
    display: flex;
    justify-content: center;
}

#geral section {
    flex: 2;
}

#geral aside {
    flex: 1;

}
.flex {
    display: flex;
    flex-wrap: wrap;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

.sec-title .title{
position: relative;
display: block;
font-size: 18px;
line-height: 24px;
color: #457B9D;
font-weight: 500;
margin-bottom: 15px;
}

.sec-title h2{
position: relative;
display: block;
font-size:40px;
line-height: 1.28em;
color: #222222;
font-weight: 600;
padding-bottom:18px;
}

.sec-title h2:before{
position:absolute;
content:'';
left:0px;
bottom:0px;
width:50px;
height:3px;
background-color:#A8DADC;
}

.sec-title .text{
position: relative;
font-size: 16px;
line-height: 26px;
color: #A8DADC;
font-weight: 400;
margin-top: 35px;
}


.btn{
position: relative;
display: inline-block;
font-size: 17px;
line-height: 30px;
color: #ffffff;
padding: 10px 30px;
font-weight: 600;
overflow: hidden;
letter-spacing: 0.02em;
background-color:  #E63946;
}

.btn:hover{
background-color: #001e57;
color: #ffffff;
}

.about-section{
position: relative;
padding: 120px 0 70px;
}

.about-section .content-column{
position: relative;
margin-bottom: 50px;
}

.about-section .content-column .inner-column{
position: relative;
padding-left: 30px;
}

.about-section .text{
margin-bottom: 40px;
font-size: 16px;
line-height: 26px;
color: #848484;
font-weight: 400;
}


.about-section .btn{
position: relative;
}

.about-section .btn a{
padding: 15px 50px;
}


