<html>
<link rel="stylesheet" type="text/css" href="/css/login.css"/>
  <section id="geral">
    <div class="container">
      <div class="login-page" method="POST" action="/comunidade">
        <div class="form">
            <form class="login-form">
              <img src="/images/logo.png" width="150px">
              <input type="text" placeholder="Nome Completo" required/>
              <input type="email" placeholder="Endereço de Email" required/>
              <input type="password" placeholder="Senha" required/>
              <button>Cadastrar</button>
              <p class="message">Já tem cadastro? <a href="/login">Faça Login</a></p>
              <p class="message"><a href="/">Voltar a pagina inicial</a></p>
            </form>
          </div>
        </div>
      </div>     
    </div>
  </section>

</html>