{{>partials/header}}

  <link rel="stylesheet" type="text/css" href="/css/comunidade.css"/>

  <section id="banner">
    <div class="container column">
      <div class="banner_headline">
        <h1>Projeto Salus</h1>
        <h2>Encontre a unidade mais próxima para realizar seu exame</h2>
      </div>
    </div>    
  </section>

    <section id="geral">
        <div class="main-container">
            <div class="left-container">
                <!-- *********************************************************************** -->
                <!-- Search Section -->
                <!-- *********************************************************************** -->
          
                <div class="search_bar_container">
                    <div class="search_bar_sub_container">
                      <input type="text" placeholder="Pesquise aqui" />
                      <button>Pesquisar</button>
                    </div>
                </div>
          

          
                <div class="members_main_container">
                    <div class="members_header">
                        <i class="fa-solid fa-earth-americas"></i>
                      <h5>Membros Ativos</h5>
                    </div>
                    <div class="members_body">
                      <div class="member_body_padges">
                        <div class="member_body_single_padge"><span>Recente</span></div>
                        <div class="member_body_single_padge"><span>Popular</span></div>
                      </div>
                      <div class="members_body_account">
                        <div class="members_body_account_photo"></div>
                        <div class="members_body_account_text">
                          <div class="members_body_account_text_name">
                            <h4>Viviane de Lima</h4>
                          </div>
                        </div>
                      </div>
          
                      <div class="members_body_account">
                        <div class="members_body_account_photo"></div>
                        <div class="members_body_account_text">
                          <div class="members_body_account_text_name">
                            <h4>Viviane de Lima</h4>
                          </div>
                        </div>
                      </div>
          
                      <div class="members_body_account">
                        <div class="members_body_account_photo"></div>
                        <div class="members_body_account_text">
                          <div class="members_body_account_text_name">
                            <h4>Viviane de Lima</h4>
                          </div>
                        </div>
                      </div>
          
                      <div class="members_body_account">
                        <div class="members_body_account_photo"></div>
                        <div class="members_body_account_text">
                          <div class="members_body_account_text_name">
                            <h4>Viviane de Lima</h4>
                          </div>
                        </div>
                      </div>
          
                    </div>
                </div>
          
          
                  <div class="members_main_container">
                    <div class="members_header">
                      <i class="fa-solid fa-user-group"></i>
                      <h5>Grupos</h5>
                    </div>
                    <div class="members_body">
                      <div class="member_body_padges">
                        <div class="member_body_single_padge"><span>Recente</span></div>
                        <div class="member_body_single_padge"><span>Popular</span></div>
                      </div>
                      <div class="members_body_account">
                        <div class="members_body_account_photo"></div>
                        <div class="members_body_account_text">
                          <div class="members_body_account_text_name">
                            <h4>Grupo 1</h4>
                          </div>
                        </div>
                      </div>
          
                      <div class="members_body_account">
                        <div class="members_body_account_photo"></div>
                        <div class="members_body_account_text">
                          <div class="members_body_account_text_name">
                            <h4>Grupo 2</h4>
                          </div>
                        </div>
                      </div>
          
                      <div class="members_body_account">
                        <div class="members_body_account_photo"></div>
                        <div class="members_body_account_text">
                          <div class="members_body_account_text_name">
                            <h4>Grupo 3</h4>
                          </div>
                        </div>
                      </div>
          
                      <div class="members_body_account">
                        <div class="members_body_account_photo"></div>
                        <div class="members_body_account_text">
                          <div class="members_body_account_text_name">
                            <h4>Grupo 4</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
          

                  <div class="members_main_container">
                    oi
                  </div>
                </div>

                <div class="middle-container">

          
                  <header>
                    <div class="header_text"><h1>Seja bem-vindo a comunidade!</h1></div>
                    <div class="header">
                      <div class="header_content">
                       
                        <div class="header_tabs">
                          <div class="tab">
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </header>
          

                  <article>
                    <div class="main_section_container">
                        <div class="main_section_header">
                            <h4>Últimas Atividades</h4>
                        </div>
                      <div class="main_section_body">
                        <div class="last_activity_account">
                          <div class="last_activity_account_photo">
                            
                          </div>
                          <div class="latest_activity_account_text">
                            <div class="latest_activity_account_text_name">
                              <strong class="latest_activity_account_text_strong">Viviane de Lima</strong>
                              <span class="latest_activity_account_text_strong_span">
                                postou no grupo
                              </span>
                              <strong>A vida de um soropositivo</strong>
                            </div>
                            <div class="latest_activity_year_month">
                              <span>2 dias atrás </span>
                            </div>
                            <span class="latest_activity_account_text_strong_post">
                              <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Similique, dolor. Lorem ipsum dolor, sit amet consectetur
                                adipisicing elit. Suscipit, iste!
                              </p>
                            </span>
                          </div>
                        </div>
          
                        <div class="last_activity_account">
                          <div class="last_activity_account_photo"></div>
                          <div class="latest_activity_account_text">
                            <div class="latest_activity_account_text_name">
                              <strong class="latest_activity_account_text_strong">Viviane de Lima</strong>
                              <span class="latest_activity_account_text_strong_span">
                                postado no grupo
                              </span>
                              <strong>Sou homossexual e tenho HIV</strong>
                            </div>
                            <div class="latest_activity_year_month">
                              <span>1 dia atrás</span>
                            </div>
                            <span class="latest_activity_account_text_strong_post">
                              <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Similique, dolor. Lorem ipsum dolor, sit amet consectetur
                                adipisicing elit. Suscipit, iste!
                              </p>
                            </span>
          
                            <span class="latest_activity_account_text_strong_post">
                              <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Similique, dolor. Lorem ipsum dolor, sit amet consectetur
                                adipisicing elit. Suscipit, iste!
                              </p>
                            </span>
                          </div>
                        </div>
          
                        <div class="last_activity_account">
                          <div class="last_activity_account_photo">

                          </div>
                          <div class="latest_activity_account_text">
                            <div class="latest_activity_account_text_name">
                              <strong class="latest_activity_account_text_strong">Viviane de Lima</strong>
                              <span class="latest_activity_account_text_strong_span">
                                postado no grupo
                              </span>
                              <strong>Duvidas gerais sobre HPV</strong>
                            </div>
                            <div class="latest_activity_year_month">
                              <span>10 horas atrás</span>
                            </div>
                            <span class="latest_activity_account_text_strong_post">
                              <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Similique, dolor. Lorem ipsum dolor, sit amet consectetur
                                adipisicing elit. Suscipit, iste!
                              </p>
                            </span>
                          </div>
                        </div>
          
                        <div class="last_activity_account">
                          <div class="last_activity_account_photo"></div>
                          <div class="latest_activity_account_text">
                            <div class="latest_activity_account_text_name">
                              <strong class="latest_activity_account_text_strong">Viviane de Lima</strong>
                              <span class="latest_activity_account_text_strong_span">
                                postado no grupo
                              </span>
                              <strong>UBS disponíveis para tratamento</strong>
                            </div>
                            <div class="latest_activity_year_month">
                              <span>3 dias atrás</span>
                            </div>
                            <span class="latest_activity_account_text_strong_post">
                              <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Similique, dolor. Lorem ipsum dolor, sit amet consectetur
                                adipisicing elit. Suscipit, iste!
                              </p>
                            </span>
                        </div>
                    </div>
          
                    <button class="last_activity_load_more">Carregar mais posts</button>

                    </div>

                  </article>
  
                  <article>
                    <div class="main_section_container">
                      <div class="main_section_header">
                        <h4>Últimas postagens</h4>
                      </div>
                      <div class="main_section_body">
                        <div class="single_post">
                          <div class="single_post_img"></div>
                          <div class="single_post_text">
                            <div class="single_post_title">
                             Postagem 1
                            </div>
                            <div class="single_post_info">
                              <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus
                                qui blanditiis praesentiu At vero eos et accusamus et
                                iusto odio dignissimos ducimus qui blanditiis praesentium…
                              </p>
          
                              <i class="fas fa-angle-double-right"></i>
                            </div>
                          </div>
                        </div>
          
 
                        <div class="single_post">
                          <div class="single_post_img"></div>
                          <div class="single_post_text">
                            <div class="single_post_title">
                                Postagem 2
                            </div>
                            <div class="single_post_info">
                              <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus
                                qui blanditiis praesentiu At vero eos et accusamus et
                                iusto odio dignissimos ducimus qui blanditiis praesentium…
                              </p>
          
                              <i class="fas fa-angle-double-right"></i>
                            </div>
                          </div>
                        </div>
          
                        <div class="single_post">
                          <div class="single_post_img"></div>
                          <div class="single_post_text">
                            <div class="single_post_title">
                                Postagem 3
                            </div>
                            <div class="single_post_info">
                              <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus
                                qui blanditiis praesentiu At vero eos et accusamus et
                                iusto odio dignissimos ducimus qui blanditiis praesentium…
                              </p>
          
                              <i class="fas fa-angle-double-right"></i>
                            </div>
                          </div>
                        </div>
   
                        <div class="single_post">
                          <div class="single_post_img"></div>
                          <div class="single_post_text">
                            <div class="single_post_title">
                                Postagem 3
                            </div>
                            <div class="single_post_info">
                              <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus
                                qui blanditiis praesentiu At vero eos et accusamus et
                                iusto odio dignissimos ducimus qui blanditiis praesentium…
                              </p>
          
                              <i class="fas fa-angle-double-right"></i>
                            </div>
                          </div>
                        </div>
                        <div class="single_post_next_post">
                          <div class="first_page"><p>1</p></div>
                          <div class="seconed_page"><p>2</p></div>
                          <div class="next_page">
                            <p><i class="fas fa-chevron-right"></i></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
          
                 
                </div>

          
                <div class="right-container">


          
                  <article>
                    <div class="main_section_container">
                        <div class="main_section_header">
                            <i class="fa-solid fa-handshake-angle"></i>
                            <h4>Gostaria de ajudar?</h4>
                        </div>
                      <div class="main_section_body features_container">
                        <div class="sub_container">
                          <p class="text_grey">Para contribuir é necessário realizar seu <a href="./cadastro.html"> cadastro</a></p>
                        </div>
                      </div>
                    </div>
                  </article>

          
                <article>
                    <div class="main_section_container">
                      <div class="main_section_header">
                        <i class="fa-solid fa-comment-dots"></i>
                        <h4>Disponível para conversar</h4>
                      </div>
                      <div class="main_section_body features_container">
                        <div class="sub_container">
                          <p class="text_grey">Nenhum usuários disponível para conversar</p>
                        </div>
                      </div>
                    </div>
                </article>
            </div>
        </div>

    </section>

{{>partials/footer}}