<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scale=1.0">
      <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/css/global.css"/>
    <link rel="stylesheet" href="assets/css/index.css">
    <script type="text/javascript" src="assets/js/js_code.js"></script>
    <script src="https://kit.fontawesome.com/5c3542a6a8.js" crossorigin="anonymous"></script>
    <title>Projeto Salus</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href=""><img src="/images/logo.png"/></a>
            </div>
            <div class="menu">
                <nav>
                    <div class="menumobile">
                        <div class="mm_line"></div>
                        <div class="mm_line"></div>
                        <div class="mm_line"></div>
                    </div>
                    <ul>
                       <li class="active"><a href="/">PÁGINA INICIAL</a></li>
                       <li><a href="/info">INFORMAÇÕES</a></li> 
                       <li><a href="/testes">TESTES</a></li>
                       <li><a href="/comunidade">COMUNIDADE</a></li>
                       <li><a href="/sobre">SOBRE NÓS</a></li>
                       <li><a href="/login">LOGIN</a></li>
                    </ul>
                </nav>  
            </div>
        </div>
    </header>

    <section id="banner">
        <div class="container column">
            <div class="banner_headline">
                <h1>Projeto Salus</h1>
                <h2>Encontre a unidade mais próxima para realizar seu exame</h2>
            </div>
            <div class="banner_option">
                <div class="banner1">
                    <div class="baneer_title">Precisa de ajuda?</div>
                    <div class="banner_desc">A Salus possui vários recursos disponíveis para 
                        sanar suas dúvidas e não te deixar desamparado
                    </div>
                    <a href="informacoes.html">Clique Aqui</a>  
                </div>
                <div class="banner2">
                    <div class="baneer_title">Seja um apoiador do projeto</div>
                    <div class="banner_desc">Fortaleça nossa comunidade e divulge nossos projetos</div>
                    <a href="sobre.html">Clique Aqui</a> 
                </div>
                <div class="banner3">
                    <div class="banner_title">Unidades gratuitas para teste HIV</div>
                    <div class="dia1">
                        <div>
                            UBS Reunidas
                        </div>
                        <div>
                            8:00 - 17:00
                        </div>
                    </div>
                    <div class="dia2">
                        <div>
                           UBS Jardim das Laranjeiras
                        </div>
                        <div>
                            9:00 - 17:00
                        </div>
                    </div>
                    <div class="dia3">
                        <div>
                            UBS Parque Arthur Alvim
                        </div>
                        <div>
                            8:00 - 15:00
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </section>
    <section id="geral">
        <div class="container">
            <section>
                <div class="widget">
                    <div class="widget_title">
                        <div class="widget_title_text">Notícias Recentes</div>
                        <div class="widget_title_bar"></div>
                    </div>
                    <div class="widget_body flex">
                        <article>
                        <a href=""> 
                            <div class="news_data">
                                 <div class="news_posted_at">02 junho</div>
                                 <div class="news_comments">22</div> 
                            </div>
                            <div class="news_thumbnail">
                                <img src="assets/image/noticia-1.jpg"/>
                            </div>
                            <div class="news_title">
                                HIV pode reduzir expectativa de vida em quase 5 anos em homens, diz estudo
                            </div>
                            <div class="news_resume">
                                O vírus HIV pode acelerar o envelhecimento em pessoas infectadas, antecipando 
                                o desgaste biológico do organismo dois a três anos após o contágio. 
                                Essa é a conclusão de um estudo realizado por pesquisadores da Universidade 
                                da Califórnia em Los Angeles (UCLA), nos Estados Unidos
                            </div>
                        </a> 
                        </article>
                        <article>
                            <a href="">  
                               <div class="news_data">
                                    <div class="news_posted_at">28 março</div>
                                    <div class="news_comments">22</div> 
                               </div>
                               <div class="news_thumbnail">
                                   <img src="/images/noticia-2.jpeg"/>
                               </div>
                               <div class="news_title">
                                Argentina aprova lei que garante direitos e protege pessoas com HIV de discriminação
                               </div>
                               <div class="news_resume">
                                O Senado argentino aprovou por 60 votos a favor e apenas um voto contra, de Humberto Schianovi, 
                                do Partido Republicano, a Lei de Resposta Integral ao HIV, as Hepatites Virais, 
                                as Infecções Sexualmente Transmissíveis (IST) e a Tuberculose na noite desta quinta-feira (30).
                                A sessão foi acompanhada através de um telão por uma grande mobilização na Praça do Congresso 
                                desde as 12h, que reuniu organizações sociais que militaram pelo direito desde 2016,
                                quando o projeto de lei foi apresentado pela primeira vez no Congresso Nacional.
                               </div>
                            </a>  
                           </article>
                           <article>
                            <a href="">  
                               <div class="news_data">
                                    <div class="news_posted_at">05 Fevereiro</div>
                                    <div class="news_comments">22</div> 
                               </div>
                               <div class="news_thumbnail">
                                   <img src="/images/noticia-3.jpg"/>
                               </div>
                               <div class="news_title">
                                Londrina amplia testes rápidos de sífilis, HIV e hepatite B e C para gestantes
                               </div>
                               <div class="news_resume">
                                A Rede Municipal de Saúde de Londrina, no Norte do Paraná, 
                                ampliou a aplicação de testes rápidos de HIV, sífilis, hepatites B e C nas 
                                gestantes atendidas nas Unidades Básicas de Saúde (UBS). 
                                Agora, quase todas as unidades oferecem os testes rápidos. 
                                As que ainda não disponibilizam, passarão a oferecer em julho.
                                Antes da ampliação, as gestantes tinham acesso aos testes de HIV, sífilis,
                                 hepatites B e C a cada três meses. A grande maioria era colhida de forma venosa, 
                                 que demora alguns dias para obter o resultado.
                               </div>
                            </a>  
                           </article>
                           <article>
                            <a href="">  
                               <div class="news_data">
                                    <div class="news_posted_at">07 janeiro</div>
                                    <div class="news_comments">22</div> 
                               </div>
                               <div class="news_thumbnail">
                                   <img src="/images/noticia-4.jpg"/>
                               </div>
                               <div class="news_title">
                                43% das brasileiras não tomaram vacina contra HPV; 17% sequer sabem o que é a infecção
                               </div>
                               <div class="news_resume">
                                Estudos mostram a baixa proteção das brasileiras contra o HPV, 
                                doença sexualmente transmissível que pode causar câncer de colo de útero
                                O HPV, sigla em inglês para Papilomavírus Humano, é a infecção sexualmente transmissível 
                                mais comum no mundo. Contudo, 17% das brasileiras não sabem que a doença é transmitida pelo sexo, 
                                como apontou um estudo realizado pela Famivita. Em Rondônia, esse número sobe para 35% 
                                - ou 1 a cada 3 mulheres.Mesmo que muitas mulheres entendam a origem da infecção, 
                                é elevado o número de brasileiras que ainda não se vacinaram contra o HPV. 
                                De acordo com o Trocando Fraldas, braço da Famivita, esse total chega a 43%.
                                O maior número está no grupo de mulheres entre 30 e 35 anos (54%). 
                               </div>
                            </a>  
                           </article>
                    </div>
                </div>
            </section>
            <aside>
                <div class="widget">
                    <div class="widget_title">
                        <div class="widget_title_text">Faça exames regularmente</div>
                        <div class="widget_title_bar"></div>
                    </div>
                    <div class="widget_body">
                        Consultas e exames preventivos são fundamentais para manter a sua saúde em dia,
                        ajudando a detectar doenças e desequilíbrios no organismo, principalmente
                        aqueles que não dão sinais logo no início.
                    </div>
                </div>
                <div class="widget">
                    <div class="widget_title">
                        <div class="widget_title_text">Use preservativos</div>
                        <div class="widget_title_bar"></div>
                    </div>
                    <div class="widget_body">
                        O preservativo, ou camisinha, é o método mais conhecido, acessível e eficaz para se prevenir da infecção 
                        pelo HIV e outras infecções sexualmente transmissíveis (IST), como a sífilis, a gonorreia 
                        e também alguns tipos de hepatites. Além disso, ele evita uma gravidez não planejada.
                    </div>
                </div>
            </aside>
        </div>
    </section>
    <footer> 
        <div class="container flexcolumn" >
            <div class="footer_area">
                <div class="footer_area_item">
                    <div class="widget">
                        <div class="widget_title">
                            <div class="widget_title_text">
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                        </div>
                        <div class="widget_body">
                            
                        </div>
                    </div>
                </div>
                <div class="footer_area_item">
                    <div class="widget">
                        <div class="widget_title">
                            <div class="widget_title_text">
                                <i class="fa-brands fa-facebook"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_area_item">
                    <div class="widget">
                        <div class="widget_title">
                            <div class="widget_title_text">
                                <i class="fa-brands fa-youtube"></i>
                            </div>
                        </div>
                    </div>
                </div>


                
                <div id="mc_embed_signup">

                    <p>Cadastre-se para receber nosso boletim informativo</p>

                    <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">

                            
                        <div class="mc-field-group">
                            <input type="email" placeholder="Digite seu e-mail" name="email" 
                            class="required email" id="mce-EMAIL">
                        </div>

                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none">
                            </div>
                            <div class="response" id="mce-success-response" style="display:none">
                            </div>
                        </div>

                        <div style="position: absolute; left: -5000px;">
                            <input type="text" name="b_0b5586be71b0fee16a03f5684_e41ec18eab" 
                            tabindex="-1" value="">
                        </div>

                        <div class="clear">
                            <input type="submit" value="Cadastrar" name="subscribe"
                            id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="footer_copy">
                Copyright ® todos os direitos reservados - Site desenvolvido com <i class="fa-solid fa-heart"></i>
            </div>
        </div>
    </footer>
</body>
</html>