<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/global.css"/>
    <link rel="stylesheet" type="text/css" href="/css/login.css"/>
    <script type="text/javascript" src="assets/js/js_code.js"></script>
    <title>Projeto Salus</title>
</head>
<body>
   


    <section id="geral">
        <div class="container">
            
            
            <div class="login-page">
                <div class="form">
                  <form class="login-form">
                    <img src="/images/logo.png" width="150px">
                    <input type="email" placeholder="Email" required/>
                    <input type="password" placeholder="Senha" required/>
                    <button>login</button>
                    <p class="message">Não tem cadastro? <a href="/cadastro">Crie uma conta</a></p>
                    <p class="message"><a href="/">Voltar a pagina inicial</a></p>
                  </form>
                </div>
              </div>
        </div>
            
        </div>
    </section>



</html>