{{>partials/header}}
    <link rel="stylesheet" type="text/css" href="/css/sobre.css"/>
    <section id="geral">

        <div class="container">
            
            <section class="about-section">
                <div class="container">
                    <div class="row">                
                        <div class="content-column">
                            <div class="inner-column">
                                <div class="sec-title">
                                    <span class="title">Nossa História</span>
                                    <h2>Juntos podemos<br>
                                    derrotar o preconceito</h2>
                                </div>
                                <div class="text">A Salus surgiu com a ideia de acabar com o TABU sobre doenças sexualmente transmissíveis,
                                    mesmo após tantos anos da descoberta de IST's é possível perceber que muitas comunidades não
                                    tem acesso à informação básica de como se prevenir corretamente, desse modo, para conscientizar 
                                    as pessoas e mostrar que IST's não escolhem raça, cor e nem sexo criamos a Salus. .</div>
                            </div>



                            <div class="inner-column">
                                <div class="sec-title">
                                    <h2>A Salus te ajuda a encontrar<br>
                                    um teste gratuito</h2>
                                </div>
                                <div class="text">Através do nosso portal é possível encontrar todas as unidades próximas a sua região que oferecem 
                                    exames gratuitos para todos os tipos de IST. Você também pode nos ajudar e incluir unidades e locais
                                    em que estão oferecendo testes gratuitos, basta realizar seu cadastro.</div>
                            </div>


                        
                            <div class="inner-column">
                                <div class="sec-title">
                                    <h2>Compartilhe sua experiência<br>
                                    de vida com outros usuários</h2>
                                </div>
                                <div class="text">Se você descobriu recentemente que é portador de alguma IST e não tem com quem desabafar, 
                                    temos o nosso fórum em que você pode conversar com outras pessoas que irão te acolher e contar 
                                    suas experiências de vida, você não está sozinho!</div>
                                <div class="btn-box">
                                    <a href="#" class="btn">Fale Conosco</a>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </section>
            
        </div>

    </section>


{{>partials/footer}}