<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/global.css"/>
    <link rel="stylesheet" type="text/css" href="/css/sobre.css"/>
    <script type="text/javascript" src="assets/js/js_code.js"></script>
    <script src="https://kit.fontawesome.com/5c3542a6a8.js" crossorigin="anonymous"></script>
    <title>Projeto Salus</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href=""><img src="/images/logo.png"/></a>
            </div>
            <div class="menu">
                <nav>
                    <div class="menumobile">
                        <div class="mm_line"></div>
                        <div class="mm_line"></div>
                        <div class="mm_line"></div>
                    </div>
                    <ul>
                       <li><a href="/">PÁGINA INICIAL</a></li>
                       <li><a href="/informacoes">INFORMAÇÕES</a></li> 
                       <li><a href="/testes">TESTES</a></li>
                       <li><a href="/comunidade">COMUNIDADE</a></li>
                       <li class="active"><a href="/sobre">SOBRE NÓS</a></li>
                       <li><a href="/login">LOGIN</a></li>
                    </ul>
                </nav>  
            </div>
        </div>
    </header>

    
    <section id="geral">

        <div class="container">
            
            <section class="about-section">
                <div class="container">
                    <div class="row">                
                        <div class="content-column">
                            <div class="inner-column">
                                <div class="sec-title">
                                    <span class="title">Nossa História</span>
                                    <h2>Juntos podemos<br>
                                    derrotar o preconceito</h2>
                                </div>
                                <div class="text">A Salus surgiu com a ideia de acabar com o TABU sobre doenças sexualmente transmissíveis,
                                    mesmo após tantos anos da descoberta de IST's é possível perceber que muitas comunidades não
                                    tem acesso à informação básica de como se prevenir corretamente, desse modo, para conscientizar 
                                    as pessoas e mostrar que IST's não escolhem raça, cor e nem sexo criamos a Salus. .</div>
                            </div>



                            <div class="inner-column">
                                <div class="sec-title">
                                    <h2>A Salus te ajuda a encontrar<br>
                                    um teste gratuito</h2>
                                </div>
                                <div class="text">Através do nosso portal é possível encontrar todas as unidades próximas a sua região que oferecem 
                                    exames gratuitos para todos os tipos de IST. Você também pode nos ajudar e incluir unidades e locais
                                    em que estão oferecendo testes gratuitos, basta realizar seu cadastro.</div>
                            </div>


                        
                            <div class="inner-column">
                                <div class="sec-title">
                                    <h2>Compartilhe sua experiência<br>
                                    de vida com outros usuários</h2>
                                </div>
                                <div class="text">Se você descobriu recentemente que é portador de alguma IST e não tem com quem desabafar, 
                                    temos o nosso fórum em que você pode conversar com outras pessoas que irão te acolher e contar 
                                    suas experiências de vida, você não está sozinho!</div>
                                <div class="btn-box">
                                    <a href="#" class="btn">Fale Conosco</a>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </section>
            
        </div>

    </section>
    <footer> 
        <div class="container flexcolumn" >
            <div class="footer_area">
                <div class="footer_area_item">
                    <div class="widget">
                        <div class="widget_title">
                            <div class="widget_title_text">
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                        </div>
                        <div class="widget_body">
                            
                        </div>
                    </div>
                </div>
                <div class="footer_area_item">
                    <div class="widget">
                        <div class="widget_title">
                            <div class="widget_title_text">
                                <i class="fa-brands fa-facebook"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_area_item">
                    <div class="widget">
                        <div class="widget_title">
                            <div class="widget_title_text">
                                <i class="fa-brands fa-youtube"></i>
                            </div>
                        </div>
                    </div>
                </div>


                
                <div id="mc_embed_signup">

                    <p>Cadastre-se para receber nossas novidades</p>

                    <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">

                            
                        <div class="mc-field-group">
                            <input type="email" placeholder="Digite seu e-mail" name="email" 
                            class="required email" id="mce-EMAIL">
                        </div>

                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none">
                            </div>
                            <div class="response" id="mce-success-response" style="display:none">
                            </div>
                        </div>

                        <div style="position: absolute; left: -5000px;">
                            <input type="text" name="b_0b5586be71b0fee16a03f5684_e41ec18eab" 
                            tabindex="-1" value="">
                        </div>

                        <div class="clear">
                            <input type="submit" value="Inscrever" name="subscribe"
                            id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="footer_copy">
                Copyright ® todos os direitos reservados - Site desenvolvido com <i class="fa-solid fa-heart"></i>
            </div>
        </div>
    </footer>
</body>
</html>