<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/global.css"/>
    <link rel="stylesheet" type="text/css" href="/css/testes.css"/>
    <script type="text/javascript" src="assets/js/js_code.js"></script>
    <script src="https://kit.fontawesome.com/5c3542a6a8.js" crossorigin="anonymous"></script>
    <title>Projeto Salus</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href=""><img src="/images/logo.png"/></a>
            </div>
            <div class="menu">
                <nav>
                    <div class="menumobile">
                        <div class="mm_line"></div>
                        <div class="mm_line"></div>
                        <div class="mm_line"></div>
                    </div>
                    <ul>
                       <li><a href="/">PÁGINA INICIAL</a></li>
                       <li><a href="/informacoes">INFORMAÇÕES</a></li> 
                       <li class="active"><a href="/testes">TESTES</a></li>
                       <li><a href="/comunidade">COMUNIDADE</a></li>
                       <li><a href="/sobre">SOBRE NÓS</a></li>
                       <li><a href="/login">LOGIN</a></li>
                    </ul>
                </nav>  
            </div>
        </div>
    </header>

    <section id="banner">
        <div class="container column">
            <div class="banner_headline">
                <h1>Projeto Salus</h1>
                <h2>Encontre a unidade mais próxima para realizar seu exame</h2>
            </div>
    </section>


    <section id="geral">

        <div class="container-main">
            <h1 class="title">Endereços da Rede Municipal Especializada em IST/Aids:</h1>
            <div class="widget_title_bar"></div>
            <div id="container">  
                <div class="cell"><input type="search" placeholder="Qual seu bairro?"></div>
                <div class="cell"><div class="button">Pesquisar</div></div>
            </div>
        </div>

    </section>

    <section id="geral">


        <div class="responsive">
            <div class="img">
                <img src="/images/henfil.jpg" alt="CTA" width="300" height="200">
                <div class="desc">
                    CTA Henfil (Henrique de Souza Filho)
                    R. Libero Badaró, 144 Centro 
                    <p><strong>Tel.: (11) 3241-2224</strong></p>
                </div>
            </div>
        </div>


        <div class="responsive">
            <div class="img">
                <img src="/images/eliseos.jpg" alt="CTA" width="300" height="200">
                <div class="desc">SAE Campos Elíseos
                    Al. Cleveland, 374 - Santa Cecília
                    <p><strong> Tel.: (11) 3331-1216</strong></p>
                </div>
            </div>
        </div>

        <div class="responsive">
            <div class="img">
                <img src="/images/penha.png"  alt="CTA" width="300" height="200">
                <div class="desc">
                    SAE Penha
                    Pça. Nossa Senhora da Penha, 55 - Penha
                    <p><strong>Tel.: (11) 2295-0391</strong></p>
                </div>
            </div>
        </div>

        <div class="responsive">
            <div class="img">
                <img src="/images/pirituba.png"  alt="CTA" width="300" height="200">
                <div class="desc">CTA Pirituba
                    Av. Dr. Felipe Pinel, 12 - Pirituba
                    <p><strong>Tel.: (11) 3974-8569</strong></p>
                </div>
            </div>
        </div>

        <div class="responsive">
            <div class="img">
                <img src="/images/santana.png"  alt="CTA" width="300" height="200">
                <div class="desc">SAE Santana (Marcos Lottenberg)
                    R. Dr. Luís Lustosa da Silva, 339 - Mandaqui
                    <p><strong>Tel.: (11) 2950-9217</strong></p>
                </div>
            </div>
        </div>

        <div class="responsive">
            <div class="img">
                <img src="/images/santo-amaro.png"  alt="CTA"width="300" height="200">
                <div class="desc">SAE Santo Amaro (Dra. Denizes Dornelas de Oliveira)
                    R. Padre José de Anchieta, 640 – Santo Amaro
                    <p><strong> Tel.: (11) 5686-1613</strong></p>
                </div>
            </div>
        </div>

        <div class="responsive">
            <div class="img">
                <img src="/images/mooca.png" alt="CTA" width="300" height="200">
                <div class="desc">CTA Mooca
                    Rua Taquari, 549 - Mooca, São Paulo
                    <p><strong>Tel.: (11) 2694-3338</strong></p>
                </div>
            </div>
        </div>

        <div class="responsive">
            <div class="img">
                <img src="/images/refugio.png" alt="CTA" width="300" height="200">
                <div class="desc">SAE Jardim Mitsutani / CTA Parque Ipê
                    R. Vittório Emanuele Rossi, 97 – Jd. Bom Refúgio
                    <p><strong>Tel.: (11) 5841-9020</strong></p>
                </div>
            </div>
        </div>

      
    </section>

     <footer> 
        <div class="container flexcolumn" >
            <div class="footer_area">
                <div class="footer_area_item">
                    <div class="widget">
                        <div class="widget_title">
                            <div class="widget_title_text">
                                <i class="fa-brands fa-instagram"></i>
                            </div>
                        </div>
                        <div class="widget_body">
                            
                        </div>
                    </div>
                </div>
                <div class="footer_area_item">
                    <div class="widget">
                        <div class="widget_title">
                            <div class="widget_title_text">
                                <i class="fa-brands fa-facebook"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_area_item">
                    <div class="widget">
                        <div class="widget_title">
                            <div class="widget_title_text">
                                <i class="fa-brands fa-youtube"></i>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="mc_embed_signup">

                    <p>Cadastre-se para receber nosso boletim informativo</p>

                    <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">

                            
                        <div class="mc-field-group">
                            <input type="email" placeholder="Digite seu e-mail" name="email" 
                            class="required email" id="mce-EMAIL">
                        </div>

                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none">
                            </div>
                            <div class="response" id="mce-success-response" style="display:none">
                            </div>
                        </div>

                        <div style="position: absolute; left: -5000px;">
                            <input type="text" name="b_0b5586be71b0fee16a03f5684_e41ec18eab" 
                            tabindex="-1" value="">
                        </div>

                        <div class="clear">
                            <input type="submit" value="Cadastrar" name="subscribe"
                            id="mc-embedded-subscribe" class="button"></div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="footer_copy">
                Copyright ® todos os direitos reservados - Site desenvolvido com <i class="fa-solid fa-heart"></i>
            </div>
        </div>
    </footer>
</body>
</html>