<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/global.css"/>
    <script type="text/javascript" src="/js/js_code.js"></script>
    <script src="https://kit.fontawesome.com/5c3542a6a8.js" crossorigin="anonymous"></script>
    <title>Projeto Salus</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href=""><img src="/images/logo.png"/></a>
            </div>
            <div class="menu">
                <nav>
                    <div class="menumobile">
                        <div class="mm_line"></div>
                        <div class="mm_line"></div>
                        <div class="mm_line"></div>
                    </div>
                    <ul>
                       <li class="{{#menu.index}}active{{/menu.index}}"><a href="/">PÁGINA INICIAL</a></li>
                       <li class="{{#menu.info}}active{{/menu.info}}"><a href="/info">INFORMAÇÕES</a></li> 
                       <li class="{{#menu.testes}}active{{/menu.testes}}"><a href="/testes">TESTES</a></li>
                       <li class="{{#menu.comunidade}}active{{/menu.comunidade}}"><a href="/comunidade">COMUNIDADE</a></li>
                       <li class="{{#menu.sobre}}active{{/menu.sobre}}"><a href="/sobre">SOBRE NÓS</a></li>
                       <li class="{{#menu.login}}active{{/menu.login}}"><a href="/login">LOGIN</a></li>
                    </ul>
                </nav>  
            </div>
        </div>
    </header>
